@import url('https://fonts.googleapis.com/css2?family=Inconsolata');

:root {
    --background: #ddffff;
    --letters-bg: #ffffff;
    --letters-bd: #000000;
}

body {
    margin: 0;
    display: grid;
    height: 1vh;
    background: var(--background);
    font-family: 'Inconsolata', monospace;
}

header {
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.github_icon, .linkedin_icon {
    height: 20px;
}

.possible_letters {
    font-weight: bold;
    font-size: x-large;
    display: flex;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
    background: var(--letters-bg);
    border: 2px solid var(--letters-bd);
    border-radius: 10px;
    padding: 5px;
}

.letters {
    display: flex;
    gap: 5px;
    font-size: 3em;
    font-weight: bolder;
}

.letters div {
    border-bottom: 3px solid black;
    height: 1em;
    width: 0.7em;
}

.error { color: red; }

.correct { color: #00ff00; }